<h1><%= @place["name"] %></h1>

<h2>Entries</h2>
<ul>
  <% for entry in @entries %>
    <h3><%= entry["title"] %></h3>
    <p><strong>Date:</strong> <%= entry["occurred_on"] %></p>
    <p><%= entry["description"] %></p>
  <% end %>
</ul>

<a href="/places">Back to Places</a>  
<a href="/places/<%= @place["id"] %>/entries/new">Add Entry</a>